<html>
<head>
	<title>My Web Page</title>
<style>
	#div1{
		height: 50px;
		background-color: white;
		opacity: 0.9;
	}
	ul{
		margin-left: 1000px;
	}
	ul li{
		list-style: none;
		display: inline;
		line-height: 50px;
		margin-left: 30px;

	}
	ul li a{
		text-decoration: none;
		color:black;
		font-weight: bold;
		padding: 10px;

	}
	ul li a:hover{
		background-color: black;
		color:white;
		border-radius: 15px;
	}
</style>
</head>
<body>
<div id="div1">
	<ul>
		<!-- <li>
		<a href="#">HOME</a>
		</li> -->
		<li>
		<a href="/signup">SIGNUP</a>
		</li>
		<li>
		<a href="/login">LOGIN</a>
		</li>
		<li>
		<a href="/about">ABOUT</a>
		</li>
		<!-- <li>
		<a href="#">HELP</a>
		</li> -->
	</ul>	
</div>
</body>
</html>